<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-tab label="Mesas Abertas">
        <div fxLayout='row' fxLayoutAlign='start center' style="padding: 2%;">
            <ng-container *ngFor="let unit of consumingUnits" style="margin: 0.5%;">
                <mat-card class="mat-card-table"
                fxFlex="0 1 calc(33.3%-11px)"
                fxFlex.lt-md="0 1 calc(50%%-11px)"
                fxFlex.lt-sm="100%">
                    <mat-card-title class="mat-card-title">Mesa {{unit.number}}</mat-card-title>
                    <mat-card-content>
                      <button mat-button>Novo Pedido</button>
                    </mat-card-content>
                    <mat-card-actions style="padding: 7px;">
                      <button mat-button>Fechar</button>
                    </mat-card-actions>
                  </mat-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>
